* {
    margin: 0;
    box-sizing: border-box;
}

.container-list-drop-down label {
    display: block;
    font-size: 18px;
    margin-bottom: 8px;
}

.container-list-drop-down select {
    width: 100%;
    font-size: 16px;
    background-color: #fff;
    padding: 16px;
    box-shadow: 10 10 30  rgba(0, 0, 0, 0.06);
    border: none;
}
