@import '../../index.scss';

.container_counter {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .counter_title {
        font-size: 5rem;
        font-size: 95px;

        &.counter_title_increment {
            color: var(--color-button-increment);
        }

        &.counter_title_decrement {
            color: var(--color-button-decrement);
        }
    }
}
