.box-text-field {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    color: #fff;

    label {
        font-size: 1.1rem;
        font-weight: bold;
    }

    input {
        border: 1ps solid grey;
        padding: .5rem 2rem;
        font-size: 1rem;
        border: none;
        outline: none;
        background-color: rgb(46, 46, 46);
        color: #fff;
        border-radius: .5rem;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
}
