* {
    margin: 0;
    box-sizing: border-box;
}

.container-team {
    position: relative;
    text-align: center;
    padding: 32px;
}

.container-team h3 {
    font-size: 32px;
    padding-bottom: 8px;
    display: inline-block;
    margin-bottom: 20px;
    border-bottom: 4px solid;
}

.container-team .collaborators {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}


.container-team input {
    position: absolute;
    top: 25px;
    right: 25px;
}