@import '../../styles/variables.scss';


.box-card-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 332px;

    img {
        width: 100%;
    }

    h2 {
        font: normal 600 20px $secondary-font;
        margin: 24px 16px 28px 16px;
    }

}
