.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 20%;
    background-color: var(--color-black);
    box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.50);
    position: sticky;
    top: 0;
    z-index: 999;
}
