* {
    margin: 0;
    box-sizing: border-box;
}

.container-input-label {
    margin: 24px 0;
}

.container-input-label label {
    display: block;
    font-size: 18px;
    margin-bottom: 8px;

}

.container-input-label input {
    font-size: 16px;
    background-color: #fff;
    width: 100%;
    box-shadow: 10 10 30  rgba(0, 0, 0, 0.06);
    border: none;
}

.input-text input {
    padding: 16px;
}

.input-color input {
    height: 40px;
    padding: 5px 16px;
    border-radius: 5px;
}