.card {
    background-color: var(--color-grey);;
    width: 282px;
    height: 528px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card img {
    line-height: none;
    margin-bottom: -4px;
    border-top-right-radius: 10px;
}

.card .areaText {
    padding: 14px 20px;
}

.card .areaText .heart {
    margin-top: 15px;
}
